.modal {
    display: none; /* Esconde o modal */
    position: fixed; /* Permite que o modal fique fixo na tela */
    z-index: 1; /* Coloca o modal na frente de todo o conteúdo da página */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permite rolar a página se o conteúdo do modal for muito grande */
    background-color: rgba(0,0,0,0.4); /* Fundo escuro para destacar o modal */
  }
  
  .modalContent {
    background-color: white; /* Cor do fundo do modal */
    margin: 15% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  